
/* Cassette Style Controls Here */
#controls_container{
	position:relative;
	width: 480px;
	height: 60px;
	
	margin: 5px auto;
}
#controls_container div.off{
	position:absolute;
	width: 80px;
	height: 60px;
	
	background-image: url(../res/controls-480x60.png);
}

#controls_container div:hover{
	cursor: pointer
}

#play{left:0px;background-position:0 0;}
#stop{left:80px;background-position:-80px 0;}
#back{left:160px;background-position:-160px 0;}
#next{left:240px;background-position:-240px 0;}
#first{left:320px;background-position:-320px 0;}
#last{left:400px;background-position:-400px 0;}

/*hoverstate/onstate*/
#play:hover, #play.on{left:0px;background-position:0 -60px;}
#stop:hover, #stop.on{left:80px;background-position:-80px -60px;}
#back:hover, #back.on{left:160px;background-position:-160px -60px;}
#next:hover, #next.on{left:240px;background-position:-240px -60px;}
#first:hover, #first.on{left:320px;background-position:-320px -60px;}
#last:hover, #last.on{left:400px;background-position:-400px -60px;}
