
/* Cassette Style Controls Here */
#controls_container{
	position:relative;
	width: 360px;
	height: 60px;
	
	margin: 5px auto;
}
#controls_container div.off{
	position:absolute;
	width: 60px;
	height: 60px;
	
	background-image: url(../res/controls-360x60.png);
}

#controls_container div:hover{
	cursor: pointer
}

#play{left:0px;background-position:0 0;}
#stop{left:60px;background-position:-60px 0;}
#back{left:120px;background-position:-120px 0;}
#next{left:180px;background-position:-180px 0;}
#first{left:240px;background-position:-240px 0;}
#last{left:300px;background-position:-300px 0;}

/*hoverstate/onstate*/
#play:hover, #play.on{left:0px;background-position:0 -60px;}
#stop:hover, #stop.on{left:60px;background-position:-60px -60px;}
#back:hover, #back.on{left:120px;background-position:-120px -60px;}
#next:hover, #next.on{left:180px;background-position:-180px -60px;}
#first:hover, #first.on{left:240px;background-position:-240px -60px;}
#last:hover, #last.on{left:300px;background-position:-300px -60px;}
