
/* Cassette Style Controls Here */
#controls_container{
	position:relative;
	width: 600px;
	height: 60px;
	
	margin: 5px auto;
}
#controls_container div.off{
	position:absolute;
	width: 100px;
	height: 60px;
	
	background-image: url(../res/controls-600x60.png);
}

#controls_container div:hover{
	cursor: pointer
}

#play{left:0px;background-position:0 0;}
#stop{left:100px;background-position:-100px 0;}
#back{left:200px;background-position:-200px 0;}
#next{left:300px;background-position:-300px 0;}
#first{left:400px;background-position:-400px 0;}
#last{left:500px;background-position:-500px 0;}

/*hoverstate/onstate*/
#play:hover, #play.on{left:0px;background-position:0 -60px;}
#stop:hover, #stop.on{left:100px;background-position:-100px -60px;}
#back:hover, #back.on{left:200px;background-position:-200px -60px;}
#next:hover, #next.on{left:300px;background-position:-300px -60px;}
#first:hover, #first.on{left:400px;background-position:-400px -60px;}
#last:hover, #last.on{left:500px;background-position:-500px -60px;}
