.kgallery{
	position:relative;
	
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #dddddd 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dddddd), color-stop(100%,#5e5e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #dddddd 0%,#5e5e5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #dddddd 0%,#5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #dddddd 0%,#5e5e5e 100%); /* IE10+ */
	background: linear-gradient(135deg, #dddddd 0%,#5e5e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#5e5e5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 10px;
	
	border-radius: 13px;
}

ul.tn{
	list-style: none;
	padding: 0px;
	margin: 0;
	display: block;
}

ul.tn li{
	display: inline-block;
	margin-right: 4px;
}

ul.tn li img.thumb{
	opacity: 0.5;
	cursor: pointer;
}

ul.tn li img.selected{
	opacity: 1.0;
}

#caption_container{
	position:absolute;
	bottom: 10px;
}

#caption_container p{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	
	opacity: 0.95;
	text-align:center;
	padding: 10px;
	margin: 0;
	
	color: white;
	font-size: 110%;
	font-family: "Arial", sans-serif;
	
	box-shadow: 0 0 3px #eee inset;
}

#controls_container{
	display: block;
	position:relative;
	
	
}
